*{
    padding: 0;
    margin: 0;

}






/* -------------------------------------HEADER------------------------------ */









.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/bacgroundimg.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

}
.logo{
    padding: 5px 5px;
    width: 25%;
    height: 5vh;
    align-items: left;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    flex: 1;
    text-align: right;

}
.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #6cff5e;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
    left: 0;
}
.headline{
    width: 90%;
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.headline h1{
    font-size: 50px;
}
.headline p{
    font-size: 14px;
    margin: 10px 0 40px;
}


/*------------------------------- ------------------BUTTON------------------------------ */

 button{
    width: 200px;
    padding: 15px 0 ;
    margin: 10px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #05f2e2;
    background-color: transparent;
    color: #aa0404;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #05f2e2;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
 button:hover span{
    width: 100%;
 }
 button:hover {
    border: none;
 }

 nav .fa-solid{
    display: none;
 }









 /* -----------------------------------------------------------for responsive--------------------------------- */







 @media(max-width: 700px){ 
    .headline h1{
        font-size: 20px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #4d5052cf;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -220px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-circle-xmark{
        display: block;
        color: #fff;
        margin: px;
        font-size: 22px;
        cursor: pointer;

    }
    nav .fa-bars{
        display: block;
        color: #bd0606;
        padding-right: 20px;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    
    .nav-link{
        padding: 10px;
        
    }
    .course-row{
        flex-direction: column;
    }
    .about-us{
        height: 100vh;
    }
    .about-us h2{
        font-size: 5px;
    }
    .about-us p{
        font-size: 5px;
        margin: 5px;
    }
 }












 /* ----------------------------------course--------------------------- */


 .course{
    background: #cfedea;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-size: 40px;
}
.course p1{
    font-size: 20px;
}
.course-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    margin-left: 40px;
    margin-right: 40px;
    flex-basis: 31%;
    background: #03ffea;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}  
h2{
    padding-bottom: 20px;
    font-weight: 600;
    text-align: center;

}  
.course-col:hover{
    box-shadow: 0 0 30px 0px rgba(0,0,0,1);
}





/* ---------------------------------------CSS FOR ABOUT US------------------- */
.about-us{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Bookabout.png);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-us h2{
    font-size: 30px;
    padding-top: 15px;
}

.about-us p{
    font-size: 25px;
    margin: 45px;
}



